# Information Ret Project

- User is reading about Saching Blogs
- which other posts you can recommed to that person


- Query A- Document A
- Which Docs are sim to Doc A and pass on that as well

In [1]:
import  pandas as pd

In [2]:
people = pd.read_csv('people_data.csv')

In [3]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...
1,<http://dbpedia.org/resource/Polyana_L%C3%B3pez>,Polyana L%C3%B3pez,polyana lpez born circa 1985 is an argentine a...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [4]:
# Replace all Null values with "No Data"
people.fillna('No Data', inplace=True)

# Using TFIDF

In [5]:
# converting our text col to tfidf values

from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer()  # you can perform all sorts of pre processing here
X_train_tfidf = tfidf_vect.fit_transform(people.text)

In [6]:
tfidf_vect.get_feature_names()[-5:]

['zzb', 'zzebra', 'zzran', 'zzt', 'zzts']

In [7]:
X_train_tfidf

<59071x548412 sparse matrix of type '<class 'numpy.float64'>'
	with 10244123 stored elements in Compressed Sparse Row format>

In [8]:
people.shape

(59071, 3)

In [9]:
from sklearn.neighbors import NearestNeighbors

In [10]:
nn = NearestNeighbors(n_neighbors=10, p=2) # here you can change value

In [11]:
nn_fitted = nn.fit(X_train_tfidf)

# Find Neighbours

- Amitabh

In [12]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...
1,<http://dbpedia.org/resource/Polyana_L%C3%B3pez>,Polyana L%C3%B3pez,polyana lpez born circa 1985 is an argentine a...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [13]:
index = people[people.name.str.contains("amitabh", case=False)].index[0]
index

48151

In [14]:
X_train_tfidf[index,:] # tfidf vector for Amitabh

<1x548412 sparse matrix of type '<class 'numpy.float64'>'
	with 145 stored elements in Compressed Sparse Row format>

In [15]:
score, neighbours = nn_fitted.kneighbors(X_train_tfidf[index,:])

In [16]:
score[0]

array([0.        , 1.1450037 , 1.14516594, 1.15612104, 1.16326194,
       1.1887013 , 1.1989314 , 1.2017944 , 1.20739367, 1.20792693])

In [17]:
neighbours[0]

array([48151, 23229, 13267, 58790, 25394, 26948,   331, 41897, 50670,
        7504])

In [18]:
people.iloc[neighbours[0]]

,URI,name,text
48151,<http://dbpedia.org/resource/Amitabh_Bachchan>,Amitabh Bachchan,amitabh harivansh bachchan ipa mtab bttn born ...
23229,<http://dbpedia.org/resource/Dilip_Kumar>,Dilip Kumar,dilip kumar born muhammad yusuf khan on 11 dec...
13267,<http://dbpedia.org/resource/Aamir_Khan>,Aamir Khan,aamir khan pronounced amr xan born mohammed aa...
58790,<http://dbpedia.org/resource/Jaya_Bachchan>,Jaya Bachchan,jaya bachchan bengali hindi urdu born jaya bha...
25394,<http://dbpedia.org/resource/Mohanlal>,Mohanlal,mohanlal viswanathan nair born 21 may 1960 bet...
26948,<http://dbpedia.org/resource/Chiranjeevi>,Chiranjeevi,chiranjeevi born konidela siva sankara vara pr...
331,<http://dbpedia.org/resource/Mammootty>,Mammootty,mammootty born as muhammad kutty ismail panipa...
41897,<http://dbpedia.org/resource/K._J._Yesudas>,K. J. Yesudas,kattassery joseph yesudas malayalam born 10 ja...
50670,<http://dbpedia.org/resource/Jasbir_Singh_Bajaj>,Jasbir Singh Bajaj,drjasbir singh bajaj is an indian physician an...
7504,<http://dbpedia.org/resource/Rajinikanth>,Rajinikanth,rajinikanth born shivaji rao gaekwad 12 decemb...

In [19]:
people.name.values

array(['Bill Clinton', 'Polyana L%C3%B3pez', 'Harpdog Brown', ...,
       'David Cass (footballer)', 'Keith Elias', 'Fawaz Damrah'],
      dtype=object)

# Unkown actor example

In [20]:
some_actor = "some text bollywood movie hindi cinema"
unknown_actor = tfidf_vect.transform([some_actor]) # do not use fit_transform

In [21]:
score, neighbours = nn_fitted.kneighbors(unknown_actor)

In [22]:
people.iloc[neighbours[0]]

,URI,name,text
23353,<http://dbpedia.org/resource/Derek_Bose>,Derek Bose,derek bose born in calcutta on 15 september 19...
5982,<http://dbpedia.org/resource/Tarun_shienh>,Tarun shienh,tarun shienh is among the bestknown poets and ...
2065,<http://dbpedia.org/resource/Priyadarshan>,Priyadarshan,priyadarshan soman nair is an indian film dire...
28702,<http://dbpedia.org/resource/Vageesh_Saraswat>,Vageesh Saraswat,vageesh saraswat hindi is a hindi journalist a...
20863,<http://dbpedia.org/resource/Vaibhavi_Merchant>,Vaibhavi Merchant,vaibhavi merchant is an indian dance choreogra...
2390,<http://dbpedia.org/resource/Mumtaz_(actress)>,Mumtaz (actress),mumtaz hindi arabic born 31 july 1947 is an ac...
19701,<http://dbpedia.org/resource/Gopaldas_Neeraj>,Gopaldas Neeraj,gopaldas saxena neeraj popularly known as nira...
58840,<http://dbpedia.org/resource/Balendu_Sharma_Da...,Balendu Sharma Dadhich,balendu sharma dadhich hindi is an indian tech...
13243,<http://dbpedia.org/resource/Frank_P._Tomasulo>,Frank P. Tomasulo,frank p tomasulo is an american film critic th...
9320,<http://dbpedia.org/resource/Sridevi>,Sridevi,sridevi kapoor known as sridevi born shree amm...

# Count Vect

In [23]:
# converting our text col to tfidf values

from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_count = count_vect.fit_transform(people.text)

In [24]:
nn_fitted_cv = nn.fit(X_train_count)

In [25]:
score, neighbours = nn_fitted_cv.kneighbors(X_train_count[index,:])

In [26]:
people.iloc[neighbours[0]]

,URI,name,text
48151,<http://dbpedia.org/resource/Amitabh_Bachchan>,Amitabh Bachchan,amitabh harivansh bachchan ipa mtab bttn born ...
47179,<http://dbpedia.org/resource/Eric_Bana>,Eric Bana,eric bana born eric banadinovi 9 august 1968 i...
13313,<http://dbpedia.org/resource/Keith_Faulkner>,Keith Faulkner,keith faulkner born 25 july 1936 is an english...
22635,<http://dbpedia.org/resource/Thomas_Murphy_(jo...,Thomas Murphy (journalist),thomas tom murphy is a british born journalist...
50021,<http://dbpedia.org/resource/Irrfan_Khan>,Irrfan Khan,sahabzade irrfan ali khan born 7 january 1967 ...
26371,<http://dbpedia.org/resource/Greg_Cruttwell>,Greg Cruttwell,greg cruttwell born in 1962 in london is an en...
47703,<http://dbpedia.org/resource/Richard_Leduc>,Richard Leduc,richard leduc born 1941 is a french actor he a...
24785,<http://dbpedia.org/resource/Ron_Husmann>,Ron Husmann,ron husmann born june 30 1937 is an american a...
26002,<http://dbpedia.org/resource/Christopher_Walken>,Christopher Walken,christopher walken born ronald walken on march...
19971,<http://dbpedia.org/resource/Antonio_Isasi-Isa...,Antonio Isasi-Isasmendi,antonio isasiisasmendi born 22 march 1927 is a...

# Lets understand NN algo

### NearestNeighbors()

- metric='minkowski'
- p=2 ( default value is 2 )

## minkowski distance algo

- manhattan distance
- euclidian distance

In [27]:
# Manhattan Distance
x = [1,0,0]
y = [0,1,0]

distance = 0

for i,j in zip(x,y):
    distance += abs(i-j)

print(distance)

2

In [28]:
# euclidian distance
x = [1,0,0]
y = [0,1,0]

distance = 0

for i,j in zip(x,y):
    distance += abs((i-j)) ** 2

distance = distance ** (1/2)
print(distance)

1.4142135623730951

In [29]:
# minkowski - function - generic function
x = [1,0,0]
y = [0,1,0]
p = 5
distance = 0

for i,j in zip(x,y):
    distance += abs((i-j)) ** p

distance = distance ** (1/p)
print(distance)

1.148698354997035

# Clustering

<img src='./clustering.png'/>

# Clustering using Sklearn


- twitter data set - to concrete your understanding

In [30]:
people = pd.read_csv('people_data.csv', nrows=100)

In [31]:
from sklearn.cluster import KMeans

In [32]:
tfidf_vect = TfidfVectorizer()
X_train_tfidf = tfidf_vect.fit_transform(people.text)

In [33]:
X_train_tfidf.shape

(100, 6981)

In [34]:
kmeans = KMeans(n_clusters=2).fit(X_train_tfidf)

In [35]:
kmeans.cluster_centers_

array([[0.00446825, 0.00249195, 0.        , ..., 0.        , 0.        ,
        0.0079205 ],
       [0.00456433, 0.00350472, 0.00047163, ..., 0.00061521, 0.00089161,
        0.        ]])

In [36]:
kmeans.labels_

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1], dtype=int32)

# import twitter data

perform clustering

# How to use tfidf instance in test.py and train.py

- train.py - tfidf - fit_transform
- test.py - tftidf - transform

## method 1 -save  the features
1. Save features in a csv file while training
2. While test.py executes - `TfidfVectorizer(vocabulary=[])`


## method 2 - pickle 
1. Save the tfidf variable in a file while training
2. Load the same variable while test.py executes