# Tries

```
array = list
hash table = dict
hash set = set
immutable array =  tuple
```

In [1]:
['a','abc','abd','be','bc','z','zds']

['a', 'abc', 'abd', 'be', 'bc', 'z', 'zds']

```
                      Null
                    
        a               b             z
        ab          be(x)   bc(x)    zds(x)
    abc(x) abd(x)
```

# LCS

- query completion
- autocorrect the whole sentence

- genetics - overlap between two genes

lcs('nishant','xniddsh')

<img src='LCS.png' />

In [2]:
def lcs(a,b):
    """
    returns longest common subsequence
    """
    
    lengths = [[0]*(len(b)+1) for _ in range(len(a)+1)]
    
    for i, x in enumerate(a):
        for j, y in enumerate(b):
            if x == y:
                lengths[i+1][j+1] = lengths[i][j] + 1
            else:
                lengths[i+1][j+1] = max(lengths[i][j+1], 
                                        lengths[i+1][j])
    i = len(a) # rows
    j = len(b) # cols
    
    # Create a character array to store the lcs string
    index = lengths[-1][-1]
    lcs_string = [""] * (index+1) 
    lcs_string[index] = "" 
  
    # Start from the right-most-bottom-most corner and 
    # one by one store characters in lcs[] 
    while i > 0 and j > 0: 
  
        # If current character in X[] and Y are same, then 
        # current character is part of LCS 
        if a[i-1] == b[j-1]: 
            lcs_string[index-1] = a[i-1] 
            i-=1
            j-=1
            index-=1
  
        # If not same, then find the larger of two and 
        # go in the direction of larger value 
        elif lengths[i-1][j] > lengths[i][j-1]: 
            i-=1
        else: 
            j-=1
  
    return "".join(lcs_string)

In [3]:
lcs('xmjyauz','mzjawxu')

'mjau'

In [4]:
lcs('alok','lokason')

'lok'

In [5]:
queries = ['how to set up mongo db',
          'how to set up redis cache',
          'how to remove mongo db',
          'how to invalidate redis cache']

answers = ['ans 1', 'ans 2','ans 3','ans 4']

In [6]:
def auto_suggest_query(sentence):
    distances = []
    
    for each in queries:
        distances.append(len(lcs(sentence, each)))
    
    if len(set(distances)) == 1: # code by Aditya
        return "Provide Further Information"
    else:
        return answers[distances.index(max(distances))]

In [7]:
auto_suggest_query('set up a cache')

'ans 2'

In [8]:
auto_suggest_query('get mongo db running')

'ans 1'

In [9]:
auto_suggest_query('invalidate redis')

'ans 4'

In [10]:
auto_suggest_query('how to')

'Provide Further Information'

# TFIDF

```
idf formula - with smoothing
log((num of docs+1) / (docs_appear+1)) + 1
```

```
idf formula - without smoothing
log(num of docs / docs_appear )
```

<img src='./tfidf.png' />

In [11]:
sent_1 = "the car is driven on the road"
sent_2 = "the truck is driven on the highway"

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(norm='l1')
tfidf_vectors = tfidf.fit_transform([sent_1, sent_2])

In [13]:
tfidf.get_feature_names()

['car', 'driven', 'highway', 'is', 'on', 'road', 'the', 'truck']

In [14]:
tfidf_vectors.toarray()

array([[0.17993569, 0.12802572, 0.        , 0.12802572, 0.12802572,
        0.17993569, 0.25605145, 0.        ],
       [0.        , 0.12802572, 0.17993569, 0.12802572, 0.12802572,
        0.        , 0.25605145, 0.17993569]])

# Manual calc of tfidf

In [15]:
def count_vectorize(sentence, features):
    pass

In [16]:
def calc_tf(sentence, count_vect):
    pass

In [17]:
def  calc_idf(total_number_of_docs, vec1, vec2):
    pass

## Data

https://drive.google.com/uc?id=1quiVJqTHnDzCxFT6xgJqhkNpj48rz-49&export=download

URI	name text

url for artcile
name - amitabh, bill clinton, obama
text - 2-3 para for each celebrity

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('./people_data.csv')
data.head()

,URI,name,text
0,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...
1,<http://dbpedia.org/resource/Polyana_L%C3%B3pez>,Polyana L%C3%B3pez,polyana lpez born circa 1985 is an argentine a...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...